exports/nq_collector.json
{
  "updatedAt": "2026-06-18T19:43:47.989Z",
  "createdAt": "2026-06-07T19:18:47.966Z",
  "id": "nYMDUSVQwEFNaH0U",
  "name": "Data Collector - NQ",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DGS2&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        96
      ],
      "id": "b7c7e7be-cf79-4f9d-ab04-8d130e823532",
      "name": "HTTP Request | US 2Y Treasury Yield - FRED API"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DGS10&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        96
      ],
      "id": "aee4dbba-1bf3-4555-a8e7-af1fda79c59c",
      "name": "HTTP Request | US 10Y Treasury Yield - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DFII10&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        288
      ],
      "id": "6b793519-e4d9-4da0-95c7-fa8e4ec70f2b",
      "name": "HTTP Request | TIPS 10Y Real Yield - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=IRLTLT01DEM156N&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        -96
      ],
      "id": "92289e92-06d8-4b74-acb3-fe9006c11e48",
      "name": "HTTP Request | Germany 10Y Proxy - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=IRLTLT01GBM156N&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -96
      ],
      "id": "83b0984c-266b-46c8-a8a9-5332c84cbc8b",
      "name": "HTTP Request | UK 10Y Proxy - FRED api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=VIXCLS&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -96
      ],
      "id": "03a452dc-b9e0-4bc9-b173-a6fd043acd34",
      "name": "HTTP Request | VIX - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DTWEXBGS&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "5bde0ce9-0b5d-4570-b907-4a4e0980b2a6",
      "name": "HTTP Request | DXY - FRED Dollar Index - FRED API"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/XAU-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -96
      ],
      "id": "6f9d0553-8413-4190-9919-a3585294604f",
      "name": "HTTP Request | Gold - Coinbase",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/BTC-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        -96
      ],
      "id": "5eeec11e-24f2-4b62-ba43-ce7a36b56d7c",
      "name": "HTTP Request | BTC - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/JPY-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        96
      ],
      "id": "f4c81064-b6dc-48c4-a3d4-aa54e8cff842",
      "name": "HTTP Request | USD/JPY - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/GBP-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        96
      ],
      "id": "673150c7-5773-47de-8aac-a86a6fd10c9e",
      "name": "HTTP Request | GBP/USD - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/CAD-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        96
      ],
      "id": "8edc7e8b-2ad8-45bd-9604-c640d53aa588",
      "name": "HTTP Request | USD/CAD - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/AUD-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        96
      ],
      "id": "61cd8d22-7ecc-403d-a8a3-6e6a9934066f",
      "name": "HTTP Request | AUD/USD - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DCOILWTICO&sort_order=desc&limit=1&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        -96
      ],
      "id": "0c8d8508-7a70-4bbf-b7c3-bfad5c42e8f6",
      "name": "HTTP Request | WTI Oil - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DCOILBRENTEU&sort_order=desc&limit=1&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        -96
      ],
      "id": "816aa945-ade6-47ef-a847-b63a110e2ca1",
      "name": "HTTP Request | Brent Oil - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DEXUSEU&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        96
      ],
      "id": "15884e3e-98e9-4949-bca4-8db3eff894c7",
      "name": "HTTP Request | EURUSD - FRED API"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=QQQ&apikey=2IN3KKFU7553XNYS",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        96
      ],
      "id": "39c94cb7-9e90-4054-9f34-2f0fcd9fadab",
      "name": "HTTP Request | NQ - Alpha Vantage"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=IRLTLT01JPM156N&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -96
      ],
      "id": "673e48c9-6a6d-48f1-804d-89d31fba2975",
      "name": "HTTP Request | Japan 10Y Proxy - FRED API"
    },
    {
      "parameters": {
        "jsCode": "function num(v) {\n  if (v === null || v === undefined || v === \".\" || v === \"\") return null;\n  const cleaned = String(v).replace(\"%\", \"\").replace(\",\", \".\").trim();\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction getNode(name) {\n  try {\n    return $(name).first().json;\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction getNodeAll(name) {\n  try {\n    return $(name).all().map(item => item.json);\n  } catch (error) {\n    return [];\n  }\n}\n\nfunction fredLatest(data) {\n  const obs = data?.observations || [];\n  const valid = obs.filter(o => num(o.value) !== null);\n  const latest = num(valid[0]?.value);\n\n  return {\n    latest,\n    d1: valid[1] && latest !== null ? latest - num(valid[1].value) : null,\n    d5: valid[5] && latest !== null ? latest - num(valid[5].value) : null,\n    d20: valid[20] && latest !== null ? latest - num(valid[20].value) : null,\n    date: valid[0]?.date || null\n  };\n}\n\nfunction fredPct(data) {\n  const obs = data?.observations || [];\n  const valid = obs.filter(o => num(o.value) !== null);\n  const latest = num(valid[0]?.value);\n\n  function pct(i) {\n    const old = num(valid[i]?.value);\n    if (latest === null || old === null || old === 0) return null;\n    return ((latest - old) / old) * 100;\n  }\n\n  return {\n    latest,\n    d1: pct(1),\n    d5: pct(5),\n    d20: pct(20),\n    date: valid[0]?.date || null\n  };\n}\n\nfunction bundesbankCsvLatest(data) {\n  const text = data?.data || \"\";\n  const rows = String(text)\n    .split(\"\\n\")\n    .map(line => line.trim())\n    .filter(line => /^\\d{4}-\\d{2}-\\d{2};/.test(line))\n    .map(line => {\n      const parts = line.split(\";\");\n      return { date: parts[0], value: num(parts[1]) };\n    })\n    .filter(row => row.value !== null)\n    .reverse();\n\n  const latest = rows[0]?.value ?? null;\n\n  return {\n    latest,\n    d1: rows[1] && latest !== null ? latest - rows[1].value : null,\n    d5: rows[5] && latest !== null ? latest - rows[5].value : null,\n    d20: rows[20] && latest !== null ? latest - rows[20].value : null,\n    date: rows[0]?.date || null\n  };\n}\n\nfunction coinbasePrice(data) {\n  return num(data?.data?.amount);\n}\n\nfunction alphaQuote(data) {\n  const q = data?.[\"Global Quote\"] || {};\n  return {\n    price: num(q[\"05. price\"]),\n    d1_pct: num(q[\"10. change percent\"])\n  };\n}\n\nfunction pctChange(current, old) {\n  current = num(current);\n  old = num(old);\n  if (current === null || old === null || old === 0) return null;\n  return ((current - old) / old) * 100;\n}\n\nfunction bps(v) {\n  return v !== null && v !== undefined ? v * 100 : null;\n}\n\nfunction spread(a, b) {\n  return a !== null && b !== null ? a - b : null;\n}\n\nfunction spreadD5(a, b) {\n  if (a?.latest === null || b?.latest === null || a?.d5 === null || b?.d5 === null) return null;\n  const spreadNow = a.latest - b.latest;\n  const spread5dAgo = (a.latest - a.d5) - (b.latest - b.d5);\n  return (spreadNow - spread5dAgo) * 100;\n}\n\nconst now = new Date();\nconst today = now.toISOString().slice(0, 10);\n\nconst previousRows = getNodeAll(\"Supabase | Get Previous Market Snapshots\")\n  .filter(r => r.snapshot_date && r.run_time_et)\n  .filter(r => r.snapshot_date < today)\n  .sort((a, b) => new Date(b.run_time_et) - new Date(a.run_time_et));\n\nconst uniquePreviousRows = [];\nconst seenDates = new Set();\n\nfor (const row of previousRows) {\n  if (!seenDates.has(row.snapshot_date)) {\n    uniquePreviousRows.push(row);\n    seenDates.add(row.snapshot_date);\n  }\n}\n\nfunction historyPct(current, field, index) {\n  const oldRow = uniquePreviousRows[index];\n  return oldRow ? pctChange(current, oldRow[field]) : null;\n}\n\nconst us2yRaw = getNode(\"HTTP Request | US 2Y Treasury Yield - FRED API\");\nconst us10yRaw = getNode(\"HTTP Request | US 10Y Treasury Yield - FRED Api\");\nconst tips10yRaw = getNode(\"HTTP Request | TIPS 10Y Real Yield - FRED Api\");\nconst de2yRaw = getNode(\"HTTP Request | Germany 2Y Yield\");\nconst de10yRaw = getNode(\"HTTP Request | Germany 10Y Proxy - FRED Api\");\nconst uk10yRaw = getNode(\"HTTP Request | UK 10Y Proxy - FRED api\");\nconst jp10yRaw = getNode(\"HTTP Request | Japan 10Y Proxy - FRED API\");\n\nconst vixRaw = getNode(\"HTTP Request | VIX - FRED Api\");\nconst dxyRaw = getNode(\"HTTP Request | DXY - FRED Dollar Index - FRED API\");\nconst goldRaw = getNode(\"HTTP Request | Gold - Coinbase\");\nconst btcRaw = getNode(\"HTTP Request | BTC - Coinbase\");\nconst wtiRaw = getNode(\"HTTP Request | WTI Oil - FRED Api\");\nconst brentRaw = getNode(\"HTTP Request | Brent Oil - FRED Api\");\n\nconst jpyUsdRaw = getNode(\"HTTP Request | USD/JPY - Coinbase\");\nconst gbpUsdRaw = getNode(\"HTTP Request | GBP/USD - Coinbase\");\nconst cadUsdRaw = getNode(\"HTTP Request | USD/CAD - Coinbase\");\nconst audUsdRaw = getNode(\"HTTP Request | AUD/USD - Coinbase\");\nconst eurusdRaw = getNode(\"HTTP Request | EURUSD - FRED API\");\nconst nqRaw = getNode(\"HTTP Request | NQ - Alpha Vantage\");\n\nconst usEcoDataRaw = getNode(\"Code | Derive US Eco Inputs\");\n\nconst us2y = fredLatest(us2yRaw);\nconst us10y = fredLatest(us10yRaw);\nconst tips10y = fredLatest(tips10yRaw);\nconst de2y = bundesbankCsvLatest(de2yRaw);\nconst de10y = fredLatest(de10yRaw);\nconst uk10y = fredLatest(uk10yRaw);\nconst jp10y = fredLatest(jp10yRaw);\nconst vix = fredLatest(vixRaw);\nconst dxy = fredPct(dxyRaw);\n\nconst goldPrice = coinbasePrice(goldRaw);\nconst btcPrice = coinbasePrice(btcRaw);\n\nconst goldD1Pct = historyPct(goldPrice, \"gold_price\", 0);\nconst goldD5Pct = historyPct(goldPrice, \"gold_price\", 4);\nconst goldD20Pct = historyPct(goldPrice, \"gold_price\", 19);\n\nconst btcD1Pct = historyPct(btcPrice, \"btc_price\", 0);\nconst btcD5Pct = historyPct(btcPrice, \"btc_price\", 4);\nconst btcD20Pct = historyPct(btcPrice, \"btc_price\", 19);\n\nconst wti = fredPct(wtiRaw);\nconst brent = fredPct(brentRaw);\n\nconst jpyUsd = coinbasePrice(jpyUsdRaw);\nconst gbpUsd = coinbasePrice(gbpUsdRaw);\nconst cadUsd = coinbasePrice(cadUsdRaw);\nconst audUsd = coinbasePrice(audUsdRaw);\n\nconst eurusd = fredPct(eurusdRaw);\nconst nq = alphaQuote(nqRaw);\n\nconst nqD1Pct = nq.d1_pct ?? historyPct(nq.price, \"nq_price\", 0);\nconst nqD5Pct = historyPct(nq.price, \"nq_price\", 4);\nconst nqD20Pct = historyPct(nq.price, \"nq_price\", 19);\n\nconst latestUsEvent = usEcoDataRaw?.latest_us_event || null;\n\nconst upcomingEvents = Array.isArray(usEcoDataRaw?.upcoming_us_events)\n  ? usEcoDataRaw.upcoming_us_events\n  : [];\n\nconst fedBias = usEcoDataRaw?.fed_bias || \"unknown\";\n\nconst usDe2ySpread = spread(us2y.latest, de2y.latest);\nconst usDe2ySpreadD5Bps = spreadD5(us2y, de2y);\n\nconst usDe10ySpread = spread(us10y.latest, de10y.latest);\nconst usJp10ySpread = spread(us10y.latest, jp10y.latest);\n\nconst equitiesRegime =\n  vix.latest !== null && vix.latest < 16 ? \"risk_on\" :\n  vix.latest !== null && vix.latest > 25 ? \"risk_off\" :\n  \"neutral\";\n\nconst globalGrowthRegime =\n  nqD20Pct !== null && nqD20Pct > 5 ? \"expanding\" :\n  nqD20Pct !== null && nqD20Pct < -5 ? \"contracting\" :\n  \"neutral\";\n\nconst missing = [];\n\nfunction checkMissing(label, value) {\n  if (value === null || value === undefined) missing.push(label);\n}\n\ncheckMissing(\"vix_level\", vix.latest);\ncheckMissing(\"vix_d1\", vix.d1);\ncheckMissing(\"vix_d5\", vix.d5);\n\ncheckMissing(\"dxy_level\", dxy.latest);\ncheckMissing(\"dxy_d1\", dxy.d1);\ncheckMissing(\"dxy_d5\", dxy.d5);\ncheckMissing(\"dxy_d20\", dxy.d20);\n\ncheckMissing(\"us_10y_yield\", us10y.latest);\ncheckMissing(\"us_10y_d5_bps\", bps(us10y.d5));\ncheckMissing(\"us_10y_d20_bps\", bps(us10y.d20));\n\ncheckMissing(\"us_10y_real_yield\", tips10y.latest);\ncheckMissing(\"us_10y_real_yield_d5_bps\", bps(tips10y.d5));\ncheckMissing(\"us_10y_real_yield_d20_bps\", bps(tips10y.d20));\n\ncheckMissing(\"gold_price\", goldPrice);\ncheckMissing(\"gold_d1_pct\", goldD1Pct);\ncheckMissing(\"gold_d5_pct\", goldD5Pct);\ncheckMissing(\"gold_d20_pct\", goldD20Pct);\n\ncheckMissing(\"btc_price\", btcPrice);\ncheckMissing(\"btc_d1_pct\", btcD1Pct);\ncheckMissing(\"btc_d5_pct\", btcD5Pct);\ncheckMissing(\"btc_d20_pct\", btcD20Pct);\n\ncheckMissing(\"nq_price\", nq.price);\ncheckMissing(\"nq_d1_pct\", nqD1Pct);\ncheckMissing(\"nq_d5_pct\", nqD5Pct);\ncheckMissing(\"nq_d20_pct\", nqD20Pct);\n\ncheckMissing(\"latest_us_event\", latestUsEvent);\ncheckMissing(\"fed_bias\", fedBias === \"unknown\" ? null : fedBias);\n\nconst row = {\n  snapshot_date: today,\n  run_time_et: now.toISOString(),\n  source_status: missing.length ? \"partial\" : \"collected\",\n  collector_version: \"nq_v2_economic_events_weighted_inputs\",\n\n  vix_level: vix.latest,\n  vix_d1: vix.d1,\n  vix_d5: vix.d5,\n\n  dxy_level: dxy.latest,\n  dxy_d1: dxy.d1,\n  dxy_d5: dxy.d5,\n  dxy_d20: dxy.d20,\n\n  us_2y_yield: us2y.latest,\n  us_2y_d5_bps: bps(us2y.d5),\n  us_2y_d20_bps: bps(us2y.d20),\n\n  de_2y_yield: de2y.latest,\n  de_2y_d5_bps: bps(de2y.d5),\n\n  us_de_2y_spread: usDe2ySpread,\n  us_de_2y_spread_d5_bps: usDe2ySpreadD5Bps,\n\n  us_10y_yield: us10y.latest,\n  us_10y_d5_bps: bps(us10y.d5),\n  us_10y_d20_bps: bps(us10y.d20),\n\n  us_10y_real_yield: tips10y.latest,\n  us_10y_real_yield_d5_bps: bps(tips10y.d5),\n  us_10y_real_yield_d20_bps: bps(tips10y.d20),\n\n  gold_price: goldPrice,\n  gold_d1_pct: goldD1Pct,\n  gold_d5_pct: goldD5Pct,\n  gold_d20_pct: goldD20Pct,\n\n  nq_price: nq.price,\n  nq_d1_pct: nqD1Pct,\n  nq_d5_pct: nqD5Pct,\n  nq_d20_pct: nqD20Pct,\n\n  btc_price: btcPrice,\n  btc_d1_pct: btcD1Pct,\n  btc_d5_pct: btcD5Pct,\n  btc_d20_pct: btcD20Pct,\n\n  btc_dominance: null,\n\n  spx_d1_pct: null,\n  equities_regime: equitiesRegime,\n\n  latest_us_event: latestUsEvent,\n  latest_ez_event: null,\n  upcoming_events: upcomingEvents,\n\n  fed_bias: fedBias,\n  ecb_bias: null,\n\n  global_growth_regime: globalGrowthRegime,\n  ez_stress_flag: null,\n  geopolitical_risk_flag: null,\n\n  data_quality: {\n    collector_status: missing.length ? \"partial\" : \"complete\",\n    missing,\n    history_rows_used: uniquePreviousRows.length,\n\n    us_events_found: usEcoDataRaw?.data_quality?.us_events_found || 0,\n    recent_us_events_found: usEcoDataRaw?.data_quality?.completed_us_events_found || 0,\n    upcoming_us_events_found: usEcoDataRaw?.data_quality?.upcoming_us_events_found || 0,\n    fed_bias_model_status: usEcoDataRaw ? \"connected\" : \"missing\",\n    global_growth_model_status: globalGrowthRegime ? \"connected\" : \"missing\",\n\n    notes: [\n      \"NQ Layer 1 may read this row, but must not read other agent outputs.\",\n      \"NQ collector now reads US economic events from Supabase economic_events via Code | Derive US Eco Inputs.\",\n      \"Gold d1/d5/d20, BTC d1/d5/d20 and NQ d1/d5/d20 are calculated from Alpha Vantage/Supabase market_snapshots.\",\n      \"NQ d1_pct uses Alpha Vantage first, then falls back to previous Supabase market_snapshots.\",\n      \"Fed bias is derived from structured US economic event surprise data.\",\n      \"Global growth regime is derived from NQ 20-day trend.\",\n      \"Layer 1 isolation remains intact because this row contains only raw market snapshot fields, not other agent outputs.\"\n    ]\n  },\n\n  raw_payload: {\n    previous_snapshot_dates_used: uniquePreviousRows.map(r => r.snapshot_date),\n\n    us_eco_data: usEcoDataRaw,\n    fed_bias_model: {\n      fed_bias: fedBias,\n      fed_bias_score: usEcoDataRaw?.fed_bias_score ?? 0,\n      fed_bias_reasons: usEcoDataRaw?.fed_bias_reasons || []\n    },\n\n    us2y,\n    us10y,\n    tips10y,\n    de2y,\n    de10y,\n    uk10y,\n    jp10y,\n    vix,\n    dxy,\n    goldPrice,\n    btcPrice,\n    wti,\n    brent,\n    jpyUsd,\n    gbpUsd,\n    cadUsd,\n    audUsd,\n    eurusd,\n    nq,\n\n    proxy_spreads: {\n      us_de_2y_spread: usDe2ySpread,\n      us_de_2y_spread_d5_bps: usDe2ySpreadD5Bps,\n      us_de_10y_spread: usDe10ySpread,\n      us_jp_10y_spread: usJp10ySpread\n    }\n  }\n};\n\nreturn [{ json: row }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        704
      ],
      "id": "0f766ddd-cf7c-4516-90cc-08d4de04c95e",
      "name": "Normalise Market Snapshot"
    },
    {
      "parameters": {
        "tableId": "market_snapshots",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        704
      ],
      "id": "141e1ae1-88f9-4411-b152-8d0d273b32c9",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "trM35g1QCTOgQp4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.statistiken.bundesbank.de/rest/data/BBSSY/D.REN.EUR.A610.000000WT0202.A?format=csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        288
      ],
      "id": "5895e26c-4188-4682-b30a-9d911d8d2f18",
      "name": "HTTP Request | Germany 2Y Yield"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "market_snapshots",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        432
      ],
      "id": "3c67e6f1-7f37-4051-9fa6-05517680075e",
      "name": "Supabase | Get Previous Market Snapshots",
      "credentials": {
        "supabaseApi": {
          "id": "trM35g1QCTOgQp4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://finnhub.io/api/v1/calendar/economic?from={{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}&to={{ new Date().toISOString().split('T')[0] }}&token=d808mnpr01qq9ln30cd0d808mnpr01qq9ln30cdg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        1280
      ],
      "id": "6635fab7-c220-4195-9384-ccad464b90ed",
      "name": "HTTP Request | Eco Calendar Recent - Finnhub",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://finnhub.io/api/v1/calendar/economic?from={{ new Date().toISOString().split('T')[0] }}&to={{ new Date(Date.now() + 7*24*60*60*1000).toISOString().split('T')[0] }}&token=d808mnpr01qq9ln30cd0d808mnpr01qq9ln30cdg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        1280
      ],
      "id": "a8ed4dba-8ff6-4c44-9d5f-d34298700161",
      "name": "HTTP Request | Eco Calendar Upcoming - Finnhub",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const recent   = $('HTTP Request | Eco Calendar Recent - Finnhub').first().json.economicCalendar;\nconst upcoming = $('HTTP Request | Eco Calendar Upcoming - Finnhub').first().json.economicCalendar;\n\n// Tier-1 US indicators with sigma values for surprise normalisation\nconst TIER1 = {\n  'Non Farm Payrolls':          { key: 'NFP',           sigma: 80 },\n  'Average Hourly Earnings MoM':{ key: 'AHE_MOM',       sigma: 0.1 },\n  'Unemployment Rate':          { key: 'UNEMPLOYMENT',  sigma: 0.15 },\n  'Core Inflation Rate MoM':    { key: 'CORE_CPI_MOM',  sigma: 0.1 },\n  'Inflation Rate MoM':         { key: 'CPI_MOM',       sigma: 0.15 },\n  'ISM Manufacturing PMI':      { key: 'ISM_MFG',       sigma: 2.5 },\n  'ISM Services PMI':           { key: 'ISM_SVCS',      sigma: 2.5 },\n  'GDP Growth Rate QoQ Adv':    { key: 'GDP_ADV',       sigma: 0.5 },\n  'ADP Employment Change':      { key: 'ADP',           sigma: 50 },\n  'Initial Jobless Claims':     { key: 'JOBLESS_CLAIMS',sigma: 15 },\n  'JOLTs Job Openings':         { key: 'JOLTS',         sigma: 0.3 }\n};\n\n// Filter recent US high/medium impact events with actuals\nconst recentUS = (recent || []).filter(e =>\n  e.country === 'US' &&\n  ['high','medium'].includes(e.impact) &&\n  e.actual !== null\n);\n\n// Filter upcoming US high/medium impact events without actuals\nconst upcomingUS = (upcoming || []).filter(e =>\n  e.country === 'US' &&\n  ['high','medium'].includes(e.impact) &&\n  e.actual === null\n);\n\n// Compute surprise scores for tier-1 recent prints\nconst surprises = [];\nfor (const event of recentUS) {\n  const tier1 = TIER1[event.event];\n  if (!tier1) continue;\n  if (event.actual === null || event.estimate === null) continue;\n  const surprise = (event.actual - event.estimate) / tier1.sigma;\n  surprises.push({\n    key:       tier1.key,\n    event:     event.event,\n    date:      event.time.split(' ')[0],\n    actual:    event.actual,\n    estimate:  event.estimate,\n    surprise:  Math.round(surprise * 100) / 100,\n    direction: surprise > 0 ? 'BEAT' : surprise < 0 ? 'MISS' : 'IN LINE'\n  });\n}\n\n// Format upcoming calendar\nconst calendar = upcomingUS.map(e => ({\n  event:    e.event,\n  time:     e.time,\n  estimate: e.estimate,\n  impact:   e.impact\n}));\n\n// Format recent all US high/medium events (not just tier-1) for prompt context\nconst recentSummary = recentUS.slice(-20).map(e => ({\n  event:    e.event,\n  time:     e.time.split(' ')[0],\n  actual:   e.actual,\n  estimate: e.estimate,\n  prev:     e.prev,\n  impact:   e.impact\n}));\n\nreturn [{\n  json: {\n    surprises,\n    calendar,\n    recentSummary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1280
      ],
      "id": "22085e77-f7e5-495c-8df6-63eb06591c06",
      "name": "Code | Process Eco Data",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const eco = $('Code | Process Eco Data').first().json;\n\nconst surprises = eco.surprises || [];\n\nlet score = 0;\nconst reasons = [];\n\nfor (const s of surprises) {\n  if (s.direction === \"BEAT\") {\n    score += 1;\n    reasons.push(`${s.event} beat forecast`);\n  }\n\n  if (s.direction === \"MISS\") {\n    score -= 1;\n    reasons.push(`${s.event} missed forecast`);\n  }\n}\n\nlet fed_bias = \"neutral\";\n\nif (score >= 2) fed_bias = \"hawkish\";\nif (score <= -2) fed_bias = \"dovish\";\n\nreturn [\n  {\n    json: {\n      fed_bias,\n      fed_bias_score: score,\n      fed_bias_reasons: reasons.slice(0, 5)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        1280
      ],
      "id": "d6743ec3-ddd1-45f2-bf94-f451412fcb8d",
      "name": "Code | Derive Fed Bias",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "function impactRank(impact) {\n  const s = String(impact || '').toLowerCase();\n  if (s.includes('high')) return 3;\n  if (s.includes('medium')) return 2;\n  if (s.includes('low')) return 1;\n  return 0;\n}\n\nfunction priority(name) {\n  const n = String(name || '').toLowerCase();\n\n  if (n.includes('non farm') || n.includes('nfp')) return 100;\n  if (n.includes('cpi') || n.includes('inflation')) return 98;\n  if (n.includes('fomc') || n.includes('fed')) return 96;\n  if (n.includes('ism')) return 94;\n  if (n.includes('pmi')) return 90;\n  if (n.includes('gdp')) return 88;\n  if (n.includes('unemployment')) return 85;\n  if (n.includes('average hourly')) return 82;\n  if (n.includes('jobless')) return 78;\n  if (n.includes('jolts')) return 75;\n  if (n.includes('retail sales')) return 72;\n\n  return 50;\n}\n\nfunction eventTimestamp(e) {\n  const date = e.event_date || e.date || '';\n  const time = e.event_time_text || e.time || '00:00';\n  const cleanTime = String(time).replace(/am/i, ' AM').replace(/pm/i, ' PM');\n  const parsed = new Date(`${date} ${cleanTime}`);\n  return Number.isFinite(parsed.getTime()) ? parsed.getTime() : 0;\n}\n\nfunction eventKey(e) {\n  return [\n    e.event_date || '',\n    e.event_time_text || '',\n    e.currency || '',\n    e.event_name || ''\n  ].join('|').toLowerCase();\n}\n\nconst rawEvents = $input.all().map(i => i.json);\n\nconst seen = new Set();\nconst events = [];\n\nfor (const e of rawEvents) {\n  const key = eventKey(e);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  events.push(e);\n}\n\nconst completed = events\n  .filter(e => e.actual !== null && e.actual !== undefined && e.actual !== '')\n  .map(e => ({\n    event: e.event_name,\n    actual: e.actual,\n    forecast: e.forecast,\n    previous: e.previous,\n    surprise: e.surprise_direction,\n    usd_signal: e.currency_signal,\n    surprise_score: e.surprise_score ?? null,\n    date: e.event_date,\n    time: e.event_time_text,\n    impact: e.impact,\n    priority: priority(e.event_name),\n    impact_rank: impactRank(e.impact),\n    raw: e,\n    timestamp: eventTimestamp(e)\n  }))\n  .sort((a, b) => {\n    const timeDiff = b.timestamp - a.timestamp;\n    if (timeDiff !== 0) return timeDiff;\n\n    const impactDiff = b.impact_rank - a.impact_rank;\n    if (impactDiff !== 0) return impactDiff;\n\n    return b.priority - a.priority;\n  });\n\nconst upcoming_us_events = events\n  .filter(e => e.actual === null || e.actual === undefined || e.actual === '')\n  .map(e => ({\n    event: e.event_name,\n    forecast: e.forecast,\n    previous: e.previous,\n    date: e.event_date,\n    time: e.event_time_text,\n    impact: e.impact,\n    priority: priority(e.event_name),\n    impact_rank: impactRank(e.impact),\n    timestamp: eventTimestamp(e)\n  }))\n  .sort((a, b) => {\n    const timeDiff = a.timestamp - b.timestamp;\n    if (timeDiff !== 0) return timeDiff;\n\n    const impactDiff = b.impact_rank - a.impact_rank;\n    if (impactDiff !== 0) return impactDiff;\n\n    return b.priority - a.priority;\n  })\n  .slice(0, 10);\n\nconst latest_us_event = completed[0] || null;\n\nlet fed_bias_score = 0;\nconst fed_bias_reasons = [];\n\nfor (const e of completed.slice(0, 8)) {\n  const signal = String(e.usd_signal || '').toUpperCase();\n  const weight = e.impact_rank >= 3 ? 2 : 1;\n\n  if (signal === 'BULLISH') {\n    fed_bias_score += weight;\n    fed_bias_reasons.push(`${e.event} beat forecast`);\n  }\n\n  if (signal === 'BEARISH') {\n    fed_bias_score -= weight;\n    fed_bias_reasons.push(`${e.event} missed forecast`);\n  }\n}\n\nlet fed_bias = 'neutral';\nif (fed_bias_score >= 2) fed_bias = 'hawkish';\nif (fed_bias_score <= -2) fed_bias = 'dovish';\n\nreturn [{\n  json: {\n    latest_us_event,\n    upcoming_us_events,\n    fed_bias,\n    fed_bias_score,\n    fed_bias_reasons,\n    recentUsSummary: completed,\n    usCalendar: upcoming_us_events,\n    source: 'economic_events',\n    data_quality: {\n      raw_us_events_found: rawEvents.length,\n      deduped_us_events_found: events.length,\n      completed_us_events_found: completed.length,\n      upcoming_us_events_found: upcoming_us_events.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        432
      ],
      "id": "5b990b8c-7882-45c8-bcde-297333ca282e",
      "name": "Code | Derive US Eco Inputs"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "economic_events",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "event_date",
              "condition": "eq",
              "keyValue": "={{ new Date().toISOString().split('T')[0] }}\n"
            },
            {
              "keyName": "currency",
              "condition": "eq",
              "keyValue": "USD"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        432
      ],
      "id": "9c57e215-e0c5-410c-b28e-e85a872f170d",
      "name": "Supabase | Get Today US Economic Events",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "trM35g1QCTOgQp4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        96
      ],
      "id": "45b5147c-9c77-4f6d-8afc-2c5b13b0dc9a",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request | US 2Y Treasury Yield - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | US 10Y Treasury Yield - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | US 10Y Treasury Yield - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | TIPS 10Y Real Yield - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | TIPS 10Y Real Yield - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | Germany 2Y Yield",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Germany 10Y Proxy - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | UK 10Y Proxy - FRED api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | UK 10Y Proxy - FRED api": {
      "main": [
        [
          {
            "node": "HTTP Request | Japan 10Y Proxy - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | VIX - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | DXY - FRED Dollar Index - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | DXY - FRED Dollar Index - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | Gold - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Gold - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | BTC - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | BTC - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | WTI Oil - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | USD/JPY - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | GBP/USD - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | GBP/USD - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | USD/CAD - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | USD/CAD - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | AUD/USD - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | AUD/USD - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | EURUSD - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | WTI Oil - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | Brent Oil - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Brent Oil - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | USD/JPY - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | EURUSD - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | NQ - Alpha Vantage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Japan 10Y Proxy - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | VIX - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | NQ - Alpha Vantage": {
      "main": [
        [
          {
            "node": "Supabase | Get Previous Market Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Market Snapshot": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Germany 2Y Yield": {
      "main": [
        [
          {
            "node": "HTTP Request | Germany 10Y Proxy - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase | Get Previous Market Snapshots": {
      "main": [
        [
          {
            "node": "Supabase | Get Today US Economic Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Eco Calendar Recent - Finnhub": {
      "main": [
        [
          {
            "node": "HTTP Request | Eco Calendar Upcoming - Finnhub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Eco Calendar Upcoming - Finnhub": {
      "main": [
        [
          {
            "node": "Code | Process Eco Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Process Eco Data": {
      "main": [
        [
          {
            "node": "Code | Derive Fed Bias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Derive Fed Bias": {
      "main": [
        []
      ]
    },
    "Supabase | Get Today US Economic Events": {
      "main": [
        [
          {
            "node": "Code | Derive US Eco Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Derive US Eco Inputs": {
      "main": [
        [
          {
            "node": "Normalise Market Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request | US 2Y Treasury Yield - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "4e0b68fd-1246-45ad-b594-128e94698e53",
  "activeVersionId": null,
  "versionCounter": 17,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-07T19:18:47.968Z",
      "createdAt": "2026-06-07T19:18:47.968Z",
      "role": "workflow:owner",
      "workflowId": "nYMDUSVQwEFNaH0U",
      "projectId": "ISQG9XU7TGTT6Fcu",
      "project": {
        "updatedAt": "2026-04-29T19:10:21.640Z",
        "createdAt": "2026-04-29T19:10:11.212Z",
        "id": "ISQG9XU7TGTT6Fcu",
        "name": "Daniel Silver <a17@live.co.uk>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "eb4fba3e-5170-481b-abc5-ce65776c1113"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
