exports/usd_collector.json
{
  "updatedAt": "2026-06-18T19:44:42.427Z",
  "createdAt": "2026-06-06T16:22:34.552Z",
  "id": "P1E4ZWtbDetYz1P5",
  "name": "Data Collector - USD",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DGS2&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        96
      ],
      "id": "32af1231-a192-4f88-8435-dda540c0dc62",
      "name": "HTTP Request | US 2Y Treasury Yield - FRED API"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DGS10&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        96
      ],
      "id": "8154cd5d-93c4-4a88-b344-062db3ad2828",
      "name": "HTTP Request | US 10Y Treasury Yield - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DFII10&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        288
      ],
      "id": "09609eb9-4f51-48d0-a518-86e287e59071",
      "name": "HTTP Request | TIPS 10Y Real Yield - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=IRLTLT01DEM156N&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        -96
      ],
      "id": "3cfcc392-ce88-4e37-a438-ebe35aa7d830",
      "name": "HTTP Request | Germany 10Y Proxy - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=IRLTLT01GBM156N&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -96
      ],
      "id": "d7c22059-b76c-4ba5-8cb4-5c6b93304c17",
      "name": "HTTP Request | UK 10Y Proxy - FRED api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=VIXCLS&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -96
      ],
      "id": "561480fd-e36b-4d6d-9a0e-c1b1d9b79f20",
      "name": "HTTP Request | VIX - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DTWEXBGS&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "17d1a0eb-6224-430f-98ce-373039087d87",
      "name": "HTTP Request | DXY - FRED Dollar Index - FRED API"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/XAU-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -96
      ],
      "id": "9923b019-6952-4bcb-adef-ec37dea3eba0",
      "name": "HTTP Request | Gold - Coinbase",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/BTC-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        -96
      ],
      "id": "23ac0e84-fd9e-4427-9935-1f6171b37b2d",
      "name": "HTTP Request | BTC - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/JPY-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        96
      ],
      "id": "7e94342f-40c9-4bbb-bf4f-3ed1b1197a8b",
      "name": "HTTP Request | USD/JPY - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/GBP-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        96
      ],
      "id": "3d7c6dfd-61d3-4979-8784-d4ffc4d5fa1d",
      "name": "HTTP Request | GBP/USD - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/CAD-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        96
      ],
      "id": "7ac6739f-a215-4300-a68c-895fcaedcd51",
      "name": "HTTP Request | USD/CAD - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.coinbase.com/v2/prices/AUD-USD/spot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        96
      ],
      "id": "6eeec821-3ffa-409d-87d8-60e09eb7f0cf",
      "name": "HTTP Request | AUD/USD - Coinbase"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DCOILWTICO&sort_order=desc&limit=1&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        -96
      ],
      "id": "db541fea-21ae-465b-b608-2b9bf3c2c178",
      "name": "HTTP Request | WTI Oil - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DCOILBRENTEU&sort_order=desc&limit=1&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        -96
      ],
      "id": "0aaf7dd7-0739-4098-bce3-56211436fb4a",
      "name": "HTTP Request | Brent Oil - FRED Api"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=DEXUSEU&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        96
      ],
      "id": "7b9e5da2-8aff-49b0-8006-40aa10d1d401",
      "name": "HTTP Request | EURUSD - FRED API"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=QQQ&apikey=2IN3KKFU7553XNYS",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        96
      ],
      "id": "ac531d9a-d372-4c89-9a3a-a90ffdc3a154",
      "name": "HTTP Request | NQ - Alpha Vantage"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=IRLTLT01JPM156N&sort_order=desc&limit=25&file_type=json&api_key=09f21c24ed25f7a25791b32e1cee3138",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -96
      ],
      "id": "10fa865b-ad82-4fff-a6b6-af71491b7006",
      "name": "HTTP Request | Japan 10Y Proxy - FRED API"
    },
    {
      "parameters": {
        "jsCode": "function num(v) {\n  if (v === null || v === undefined || v === \".\" || v === \"\") return null;\n  const cleaned = String(v).replace(\"%\", \"\").replace(\",\", \".\").trim();\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction getNode(name) {\n  try {\n    return $(name).first().json;\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction getNodeAll(name) {\n  try {\n    return $(name).all().map(item => item.json);\n  } catch (error) {\n    return [];\n  }\n}\n\nfunction fredLatest(data) {\n  const obs = data?.observations || [];\n  const valid = obs.filter(o => num(o.value) !== null);\n  const latest = num(valid[0]?.value);\n\n  return {\n    latest,\n    d1: valid[1] && latest !== null ? latest - num(valid[1].value) : null,\n    d5: valid[5] && latest !== null ? latest - num(valid[5].value) : null,\n    d20: valid[20] && latest !== null ? latest - num(valid[20].value) : null,\n    date: valid[0]?.date || null\n  };\n}\n\nfunction fredPct(data) {\n  const obs = data?.observations || [];\n  const valid = obs.filter(o => num(o.value) !== null);\n  const latest = num(valid[0]?.value);\n\n  function pct(i) {\n    const old = num(valid[i]?.value);\n    if (latest === null || old === null || old === 0) return null;\n    return ((latest - old) / old) * 100;\n  }\n\n  return {\n    latest,\n    d1: pct(1),\n    d5: pct(5),\n    d20: pct(20),\n    date: valid[0]?.date || null\n  };\n}\n\nfunction bundesbankCsvLatest(data) {\n  const text = data?.data || \"\";\n  const rows = String(text)\n    .split(\"\\n\")\n    .map(line => line.trim())\n    .filter(line => /^\\d{4}-\\d{2}-\\d{2};/.test(line))\n    .map(line => {\n      const parts = line.split(\";\");\n      return { date: parts[0], value: num(parts[1]) };\n    })\n    .filter(row => row.value !== null)\n    .reverse();\n\n  const latest = rows[0]?.value ?? null;\n\n  return {\n    latest,\n    d1: rows[1] && latest !== null ? latest - rows[1].value : null,\n    d5: rows[5] && latest !== null ? latest - rows[5].value : null,\n    d20: rows[20] && latest !== null ? latest - rows[20].value : null,\n    date: rows[0]?.date || null\n  };\n}\n\nfunction coinbasePrice(data) {\n  return num(data?.data?.amount);\n}\n\nfunction alphaQuote(data) {\n  const q = data?.[\"Global Quote\"] || {};\n  return {\n    price: num(q[\"05. price\"]),\n    d1_pct: num(q[\"10. change percent\"])\n  };\n}\n\nfunction pctChange(current, old) {\n  current = num(current);\n  old = num(old);\n  if (current === null || old === null || old === 0) return null;\n  return ((current - old) / old) * 100;\n}\n\nfunction bps(v) {\n  return v !== null && v !== undefined ? v * 100 : null;\n}\n\nfunction spread(a, b) {\n  return a !== null && b !== null ? a - b : null;\n}\n\nfunction spreadD5(a, b) {\n  if (a?.latest === null || b?.latest === null || a?.d5 === null || b?.d5 === null) return null;\n  const spreadNow = a.latest - b.latest;\n  const spread5dAgo = (a.latest - a.d5) - (b.latest - b.d5);\n  return (spreadNow - spread5dAgo) * 100;\n}\n\nfunction eventSortDate(e) {\n  return new Date(e.date || e.time || 0).getTime();\n}\n\nfunction eventPriority(name) {\n  const priority = {\n    \"Non Farm Payrolls\": 100,\n    \"Inflation Rate MoM\": 95,\n    \"Core Inflation Rate MoM\": 95,\n    \"ISM Services PMI\": 90,\n    \"ISM Manufacturing PMI\": 90,\n    \"Unemployment Rate\": 85,\n    \"Average Hourly Earnings MoM\": 80,\n    \"Initial Jobless Claims\": 75,\n    \"JOLTs Job Openings\": 70,\n    \"GDP Growth Rate QoQ Adv\": 70\n  };\n  return priority[name] || 0;\n}\n\nfunction usdSignalFromEvent(eventName, actual, forecast) {\n  if (actual === null || forecast === null) {\n    return { surprise: \"neutral\", usd_signal: \"NEUTRAL\" };\n  }\n\n  let beat = actual > forecast;\n  let miss = actual < forecast;\n\n  if ([\"Unemployment Rate\", \"Initial Jobless Claims\"].includes(eventName)) {\n    beat = actual < forecast;\n    miss = actual > forecast;\n  }\n\n  return {\n    surprise: beat ? \"positive\" : miss ? \"negative\" : \"neutral\",\n    usd_signal: beat ? \"BULLISH\" : miss ? \"BEARISH\" : \"NEUTRAL\"\n  };\n}\n\nfunction latestUsEventFromEcoData(ecoData) {\n  const surprises = Array.isArray(ecoData?.surprises) ? ecoData.surprises : [];\n  const recentSummary = Array.isArray(ecoData?.recentSummary) ? ecoData.recentSummary : [];\n\n  const candidates = [];\n\n  for (const e of surprises) {\n    if (!e || !e.event || e.actual === null || e.estimate === null || !e.date) continue;\n\n    const actual = num(e.actual);\n    const forecast = num(e.estimate);\n    if (actual === null || forecast === null) continue;\n\n    const signal =\n      e.direction === \"BEAT\" ? { surprise: \"positive\", usd_signal: \"BULLISH\" } :\n      e.direction === \"MISS\" ? { surprise: \"negative\", usd_signal: \"BEARISH\" } :\n      usdSignalFromEvent(e.event, actual, forecast);\n\n    candidates.push({\n      event: e.event,\n      key: e.key || null,\n      actual,\n      forecast,\n      previous: e.prev ?? null,\n      surprise_score: num(e.surprise),\n      surprise: signal.surprise,\n      usd_signal: signal.usd_signal,\n      date: e.date,\n      impact: e.impact || null,\n      source: \"surprises\",\n      priority: eventPriority(e.event),\n      timestamp: eventSortDate(e)\n    });\n  }\n\n  for (const e of recentSummary) {\n    if (!e || !e.event || e.actual === null || e.estimate === null || !e.time) continue;\n\n    const priority = eventPriority(e.event);\n    if (!priority) continue;\n\n    const actual = num(e.actual);\n    const forecast = num(e.estimate);\n    if (actual === null || forecast === null) continue;\n\n    const signal = usdSignalFromEvent(e.event, actual, forecast);\n\n    candidates.push({\n      event: e.event,\n      key: null,\n      actual,\n      forecast,\n      previous: e.prev ?? null,\n      surprise_score: forecast !== 0 ? Math.round(((actual - forecast) / Math.abs(forecast)) * 10000) / 100 : null,\n      surprise: signal.surprise,\n      usd_signal: signal.usd_signal,\n      date: e.time,\n      impact: e.impact || null,\n      source: \"recentSummary\",\n      priority,\n      timestamp: eventSortDate(e)\n    });\n  }\n\n  if (!candidates.length) return null;\n\n  candidates.sort((a, b) => {\n    const dateDiff = b.timestamp - a.timestamp;\n    if (dateDiff !== 0) return dateDiff;\n    return b.priority - a.priority;\n  });\n\n  const latestDate = candidates[0].timestamp;\n  const sameDate = candidates.filter(c => c.timestamp === latestDate);\n  sameDate.sort((a, b) => b.priority - a.priority);\n\n  const selected = sameDate[0];\n\n  return {\n    event: selected.event,\n    key: selected.key,\n    actual: selected.actual,\n    forecast: selected.forecast,\n    previous: selected.previous,\n    surprise_score: selected.surprise_score,\n    surprise: selected.surprise,\n    usd_signal: selected.usd_signal,\n    date: selected.date,\n    impact: selected.impact,\n    source: selected.source\n  };\n}\n\nfunction upcomingEventsFromEcoData(ecoData) {\n  const calendar = ecoData?.calendar || [];\n  if (!Array.isArray(calendar)) return [];\n  return calendar.slice(0, 10);\n}\n\nconst now = new Date();\nconst today = now.toISOString().slice(0, 10);\n\nconst previousRows = getNodeAll(\"Supabase | Get Previous Market Snapshots\")\n  .filter(r => r.snapshot_date && r.run_time_et)\n  .filter(r => r.snapshot_date < today)\n  .sort((a, b) => new Date(b.run_time_et) - new Date(a.run_time_et));\n\nconst uniquePreviousRows = [];\nconst seenDates = new Set();\n\nfor (const row of previousRows) {\n  if (!seenDates.has(row.snapshot_date)) {\n    uniquePreviousRows.push(row);\n    seenDates.add(row.snapshot_date);\n  }\n}\n\nfunction historyPct(current, field, index) {\n  const oldRow = uniquePreviousRows[index];\n  return oldRow ? pctChange(current, oldRow[field]) : null;\n}\n\nconst us2yRaw = getNode(\"HTTP Request | US 2Y Treasury Yield - FRED API\");\nconst us10yRaw = getNode(\"HTTP Request | US 10Y Treasury Yield - FRED Api\");\nconst tips10yRaw = getNode(\"HTTP Request | TIPS 10Y Real Yield - FRED Api\");\nconst de2yRaw = getNode(\"HTTP Request | Germany 2Y Yield\");\nconst de10yRaw = getNode(\"HTTP Request | Germany 10Y Proxy - FRED Api\");\nconst uk10yRaw = getNode(\"HTTP Request | UK 10Y Proxy - FRED api\");\nconst jp10yRaw = getNode(\"HTTP Request | Japan 10Y Proxy - FRED API\");\n\nconst vixRaw = getNode(\"HTTP Request | VIX - FRED Api\");\nconst dxyRaw = getNode(\"HTTP Request | DXY - FRED Dollar Index - FRED API\");\nconst goldRaw = getNode(\"HTTP Request | Gold - Coinbase\");\nconst btcRaw = getNode(\"HTTP Request | BTC - Coinbase\");\nconst wtiRaw = getNode(\"HTTP Request | WTI Oil - FRED Api\");\nconst brentRaw = getNode(\"HTTP Request | Brent Oil - FRED Api\");\n\nconst jpyUsdRaw = getNode(\"HTTP Request | USD/JPY - Coinbase\");\nconst gbpUsdRaw = getNode(\"HTTP Request | GBP/USD - Coinbase\");\nconst cadUsdRaw = getNode(\"HTTP Request | USD/CAD - Coinbase\");\nconst audUsdRaw = getNode(\"HTTP Request | AUD/USD - Coinbase\");\nconst eurusdRaw = getNode(\"HTTP Request | EURUSD - FRED API\");\nconst nqRaw = getNode(\"HTTP Request | NQ - Alpha Vantage\");\n\nconst ecoDataRaw = getNode(\"Code | Derive USD Eco Inputs\");\nconst fedBiasRaw = ecoDataRaw;\n\nconst us2y = fredLatest(us2yRaw);\nconst us10y = fredLatest(us10yRaw);\nconst tips10y = fredLatest(tips10yRaw);\nconst de2y = bundesbankCsvLatest(de2yRaw);\nconst de10y = fredLatest(de10yRaw);\nconst uk10y = fredLatest(uk10yRaw);\nconst jp10y = fredLatest(jp10yRaw);\nconst vix = fredLatest(vixRaw);\nconst dxy = fredPct(dxyRaw);\n\nconst goldPrice = coinbasePrice(goldRaw);\nconst btcPrice = coinbasePrice(btcRaw);\n\nconst goldD1Pct = historyPct(goldPrice, \"gold_price\", 0);\nconst goldD5Pct = historyPct(goldPrice, \"gold_price\", 4);\nconst goldD20Pct = historyPct(goldPrice, \"gold_price\", 19);\n\nconst btcD1Pct = historyPct(btcPrice, \"btc_price\", 0);\nconst btcD5Pct = historyPct(btcPrice, \"btc_price\", 4);\nconst btcD20Pct = historyPct(btcPrice, \"btc_price\", 19);\n\nconst wti = fredPct(wtiRaw);\nconst brent = fredPct(brentRaw);\n\nconst jpyUsd = coinbasePrice(jpyUsdRaw);\nconst gbpUsd = coinbasePrice(gbpUsdRaw);\nconst cadUsd = coinbasePrice(cadUsdRaw);\nconst audUsd = coinbasePrice(audUsdRaw);\n\nconst eurusd = fredPct(eurusdRaw);\nconst nq = alphaQuote(nqRaw);\n\nconst nqD5Pct = historyPct(nq.price, \"nq_price\", 4);\nconst nqD20Pct = historyPct(nq.price, \"nq_price\", 19);\n\nconst latestUsEvent = ecoDataRaw?.latest_us_event || null;\nconst upcomingEvents = Array.isArray(ecoDataRaw?.upcoming_events)\n  ? ecoDataRaw.upcoming_events\n  : [];\n\nconst fedBias = fedBiasRaw?.fed_bias || \"unknown\";\n\nconst usDe2ySpread = spread(us2y.latest, de2y.latest);\nconst usDe2ySpreadD5Bps = spreadD5(us2y, de2y);\n\nconst usDe10ySpread = spread(us10y.latest, de10y.latest);\nconst usJp10ySpread = spread(us10y.latest, jp10y.latest);\n\nconst equitiesRegime =\n  vix.latest !== null && vix.latest < 16 ? \"risk_on\" :\n  vix.latest !== null && vix.latest > 25 ? \"risk_off\" :\n  \"neutral\";\n\nconst missing = [];\n\nfunction checkMissing(label, value) {\n  if (value === null || value === undefined) missing.push(label);\n}\n\ncheckMissing(\"vix_level\", vix.latest);\ncheckMissing(\"dxy_level\", dxy.latest);\ncheckMissing(\"us_2y_yield\", us2y.latest);\ncheckMissing(\"us_10y_yield\", us10y.latest);\ncheckMissing(\"us_10y_real_yield\", tips10y.latest);\ncheckMissing(\"gold_price\", goldPrice);\ncheckMissing(\"btc_price\", btcPrice);\ncheckMissing(\"nq_price\", nq.price);\ncheckMissing(\"de_2y_yield\", de2y.latest);\ncheckMissing(\"us_de_2y_spread_d5_bps\", usDe2ySpreadD5Bps);\ncheckMissing(\"gold_d5_pct\", goldD5Pct);\ncheckMissing(\"nq_d5_pct\", nqD5Pct);\ncheckMissing(\"latest_us_event\", latestUsEvent);\ncheckMissing(\"fed_bias\", fedBias === \"unknown\" ? null : fedBias);\n\nconst row = {\n  snapshot_date: today,\n  run_time_et: now.toISOString(),\n  source_status: missing.length ? \"partial\" : \"collected\",\n  collector_version: \"v8_fed_bias_enabled\",\n\n  vix_level: vix.latest,\n  vix_d1: vix.d1,\n  vix_d5: vix.d5,\n\n  dxy_level: dxy.latest,\n  dxy_d1: dxy.d1,\n  dxy_d5: dxy.d5,\n  dxy_d20: dxy.d20,\n\n  us_2y_yield: us2y.latest,\n  us_2y_d5_bps: bps(us2y.d5),\n  us_2y_d20_bps: bps(us2y.d20),\n\n  de_2y_yield: de2y.latest,\n  de_2y_d5_bps: bps(de2y.d5),\n\n  us_de_2y_spread: usDe2ySpread,\n  us_de_2y_spread_d5_bps: usDe2ySpreadD5Bps,\n\n  us_10y_yield: us10y.latest,\n  us_10y_d5_bps: bps(us10y.d5),\n\n  us_10y_real_yield: tips10y.latest,\n  us_10y_real_yield_d5_bps: bps(tips10y.d5),\n  us_10y_real_yield_d20_bps: bps(tips10y.d20),\n\n  gold_price: goldPrice,\n  gold_d1_pct: goldD1Pct,\n  gold_d5_pct: goldD5Pct,\n  gold_d20_pct: goldD20Pct,\n\n  nq_price: nq.price,\n  nq_d1_pct: nq.d1_pct,\n  nq_d5_pct: nqD5Pct,\n  nq_d20_pct: nqD20Pct,\n\n  btc_price: btcPrice,\n  btc_d1_pct: btcD1Pct,\n  btc_d5_pct: btcD5Pct,\n  btc_d20_pct: btcD20Pct,\n\n  btc_dominance: null,\n\n  spx_d1_pct: null,\n  equities_regime: equitiesRegime,\n\n  latest_us_event: latestUsEvent,\n  latest_ez_event: null,\n  upcoming_events: upcomingEvents,\n\n  fed_bias: fedBias,\n  ecb_bias: null,\n\n  global_growth_regime: null,\n  ez_stress_flag: null,\n  geopolitical_risk_flag: null,\n\n  data_quality: {\n    collector_status: missing.length ? \"partial\" : \"complete\",\n    missing,\n    history_rows_used: uniquePreviousRows.length,\n    eco_events_found: ecoDataRaw?.data_quality?.usd_events_found || 0,\n    upcoming_events_found: upcomingEvents.length,\n    fed_bias_model_status: fedBiasRaw ? \"connected\" : \"missing\",\n    notes: [\n      \"Layer 1 agents may read this row, but must not read other agent outputs.\",\n      \"Germany 2Y is parsed from Bundesbank CSV.\",\n      \"US-DE 2Y spread and 5-day spread delta are calculated when Germany 2Y and US 2Y are available.\",\n      \"Gold d1/d5/d20, BTC d1/d5/d20 and NQ d5/d20 are calculated from previous Supabase market_snapshots.\",\n      \"NQ d1_pct comes from Alpha Vantage change percent.\",\n      \"latest_us_event is selected from Finnhub economic calendar using date first and event priority second.\",\n      \"fed_bias is derived from recent US economic surprise balance via Code | Derive Fed Bias.\"\n    ]\n  },\n\n  raw_payload: {\n    previous_snapshot_dates_used: uniquePreviousRows.map(r => r.snapshot_date),\n    eco_data: ecoDataRaw,\n    fed_bias_model: fedBiasRaw,\n    us2y,\n    us10y,\n    tips10y,\n    de2y,\n    de10y,\n    uk10y,\n    jp10y,\n    vix,\n    dxy,\n    goldPrice,\n    btcPrice,\n    wti,\n    brent,\n    jpyUsd,\n    gbpUsd,\n    cadUsd,\n    audUsd,\n    eurusd,\n    nq,\n    proxy_spreads: {\n      us_de_2y_spread: usDe2ySpread,\n      us_de_2y_spread_d5_bps: usDe2ySpreadD5Bps,\n      us_de_10y_spread: usDe10ySpread,\n      us_jp_10y_spread: usJp10ySpread\n    }\n  }\n};\n\nreturn [{ json: row }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        704
      ],
      "id": "14dd4771-75e0-4f8c-bb52-5d8845b56001",
      "name": "Normalise Market Snapshot"
    },
    {
      "parameters": {
        "tableId": "market_snapshots",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        704
      ],
      "id": "6eadd07b-bd04-4f5a-a240-bf977473b21e",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "trM35g1QCTOgQp4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.statistiken.bundesbank.de/rest/data/BBSSY/D.REN.EUR.A610.000000WT0202.A?format=csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        288
      ],
      "id": "0d3a26c7-d3e8-47c9-a8eb-104965402870",
      "name": "HTTP Request | Germany 2Y Yield"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "market_snapshots",
        "limit": 25
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        432
      ],
      "id": "1cf32486-c105-49e3-a22e-9fc40560c999",
      "name": "Supabase | Get Previous Market Snapshots",
      "credentials": {
        "supabaseApi": {
          "id": "trM35g1QCTOgQp4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://finnhub.io/api/v1/calendar/economic?from={{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}&to={{ new Date().toISOString().split('T')[0] }}&token=d808mnpr01qq9ln30cd0d808mnpr01qq9ln30cdg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        640
      ],
      "id": "66424818-daaf-4544-b57e-2cb5c4befa93",
      "name": "HTTP Request | Eco Calendar Recent - Finnhub",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://finnhub.io/api/v1/calendar/economic?from={{ new Date().toISOString().split('T')[0] }}&to={{ new Date(Date.now() + 7*24*60*60*1000).toISOString().split('T')[0] }}&token=d808mnpr01qq9ln30cd0d808mnpr01qq9ln30cdg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        640
      ],
      "id": "778b3335-5556-484e-858d-4691ad48bce6",
      "name": "HTTP Request | Eco Calendar Upcoming - Finnhub",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const recent   = $('HTTP Request | Eco Calendar Recent - Finnhub').first().json.economicCalendar;\nconst upcoming = $('HTTP Request | Eco Calendar Upcoming - Finnhub').first().json.economicCalendar;\n\n// Tier-1 US indicators with sigma values for surprise normalisation\nconst TIER1 = {\n  'Non Farm Payrolls':          { key: 'NFP',           sigma: 80 },\n  'Average Hourly Earnings MoM':{ key: 'AHE_MOM',       sigma: 0.1 },\n  'Unemployment Rate':          { key: 'UNEMPLOYMENT',  sigma: 0.15 },\n  'Core Inflation Rate MoM':    { key: 'CORE_CPI_MOM',  sigma: 0.1 },\n  'Inflation Rate MoM':         { key: 'CPI_MOM',       sigma: 0.15 },\n  'ISM Manufacturing PMI':      { key: 'ISM_MFG',       sigma: 2.5 },\n  'ISM Services PMI':           { key: 'ISM_SVCS',      sigma: 2.5 },\n  'GDP Growth Rate QoQ Adv':    { key: 'GDP_ADV',       sigma: 0.5 },\n  'ADP Employment Change':      { key: 'ADP',           sigma: 50 },\n  'Initial Jobless Claims':     { key: 'JOBLESS_CLAIMS',sigma: 15 },\n  'JOLTs Job Openings':         { key: 'JOLTS',         sigma: 0.3 }\n};\n\n// Filter recent US high/medium impact events with actuals\nconst recentUS = (recent || []).filter(e =>\n  e.country === 'US' &&\n  ['high','medium'].includes(e.impact) &&\n  e.actual !== null\n);\n\n// Filter upcoming US high/medium impact events without actuals\nconst upcomingUS = (upcoming || []).filter(e =>\n  e.country === 'US' &&\n  ['high','medium'].includes(e.impact) &&\n  e.actual === null\n);\n\n// Compute surprise scores for tier-1 recent prints\nconst surprises = [];\nfor (const event of recentUS) {\n  const tier1 = TIER1[event.event];\n  if (!tier1) continue;\n  if (event.actual === null || event.estimate === null) continue;\n  const surprise = (event.actual - event.estimate) / tier1.sigma;\n  surprises.push({\n    key:       tier1.key,\n    event:     event.event,\n    date:      event.time.split(' ')[0],\n    actual:    event.actual,\n    estimate:  event.estimate,\n    surprise:  Math.round(surprise * 100) / 100,\n    direction: surprise > 0 ? 'BEAT' : surprise < 0 ? 'MISS' : 'IN LINE'\n  });\n}\n\n// Format upcoming calendar\nconst calendar = upcomingUS.map(e => ({\n  event:    e.event,\n  time:     e.time,\n  estimate: e.estimate,\n  impact:   e.impact\n}));\n\n// Format recent all US high/medium events (not just tier-1) for prompt context\nconst recentSummary = recentUS.slice(-20).map(e => ({\n  event:    e.event,\n  time:     e.time.split(' ')[0],\n  actual:   e.actual,\n  estimate: e.estimate,\n  prev:     e.prev,\n  impact:   e.impact\n}));\n\nreturn [{\n  json: {\n    surprises,\n    calendar,\n    recentSummary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        848
      ],
      "id": "a2131d60-f7a8-4348-91d2-fc3c6a854dce",
      "name": "Code | Process Eco Data",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const eco = $('Code | Process Eco Data').first().json;\n\nconst surprises = eco.surprises || [];\n\nlet score = 0;\nconst reasons = [];\n\nfor (const s of surprises) {\n  if (s.direction === \"BEAT\") {\n    score += 1;\n    reasons.push(`${s.event} beat forecast`);\n  }\n\n  if (s.direction === \"MISS\") {\n    score -= 1;\n    reasons.push(`${s.event} missed forecast`);\n  }\n}\n\nlet fed_bias = \"neutral\";\n\nif (score >= 2) fed_bias = \"hawkish\";\nif (score <= -2) fed_bias = \"dovish\";\n\nreturn [\n  {\n    json: {\n      fed_bias,\n      fed_bias_score: score,\n      fed_bias_reasons: reasons.slice(0, 5)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        848
      ],
      "id": "2fc6ac2d-ee5e-4d97-817b-9595d05e3f76",
      "name": "Code | Derive Fed Bias",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "function clean(v) {\n  if (v === null || v === undefined || v === '') return null;\n  return v;\n}\n\nfunction impactRank(impact) {\n  const s = String(impact || '').toLowerCase();\n  if (s.includes('high')) return 3;\n  if (s.includes('medium')) return 2;\n  if (s.includes('low')) return 1;\n  return 0;\n}\n\nfunction priority(name) {\n  const n = String(name || '').toLowerCase();\n\n  if (n.includes('non-farm') || n.includes('payroll')) return 100;\n  if (n.includes('core cpi')) return 98;\n  if (n.includes('cpi')) return 95;\n  if (n.includes('fomc') || n.includes('fed')) return 95;\n  if (n.includes('pce')) return 92;\n  if (n.includes('ism')) return 90;\n  if (n.includes('unemployment')) return 85;\n  if (n.includes('claims')) return 80;\n  if (n.includes('retail sales')) return 75;\n  if (n.includes('gdp')) return 75;\n\n  return 50;\n}\n\nfunction eventTime(e) {\n  return `${e.event_date || ''} ${e.event_time_text || '00:00'}`;\n}\n\nconst events = $input.all().map(i => i.json);\n\nconst completed = events\n  .filter(e => e.actual !== null && e.actual !== undefined && e.actual !== '')\n  .map(e => ({\n    event: e.event_name,\n    actual: e.actual,\n    forecast: e.forecast,\n    previous: e.previous,\n    surprise: e.surprise_direction,\n    usd_signal: e.currency_signal,\n    date: e.event_date,\n    time: e.event_time_text,\n    impact: e.impact,\n    priority: priority(e.event_name),\n    impact_rank: impactRank(e.impact),\n    raw: e\n  }))\n  .sort((a, b) => {\n    const timeDiff = new Date(eventTime(b.raw)) - new Date(eventTime(a.raw));\n    if (timeDiff !== 0) return timeDiff;\n    return b.priority - a.priority;\n  });\n\nconst upcoming = events\n  .filter(e => e.actual === null || e.actual === undefined || e.actual === '')\n  .map(e => ({\n    event: e.event_name,\n    forecast: e.forecast,\n    previous: e.previous,\n    date: e.event_date,\n    time: e.event_time_text,\n    impact: e.impact,\n    priority: priority(e.event_name),\n    impact_rank: impactRank(e.impact)\n  }))\n  .sort((a, b) => a.time.localeCompare(b.time))\n  .slice(0, 10);\n\nconst latest_us_event = completed[0] || null;\n\nlet fed_bias_score = 0;\nconst fed_bias_reasons = [];\n\nfor (const e of completed.slice(0, 8)) {\n  const weight = e.impact_rank >= 3 ? 2 : 1;\n\n  if (e.usd_signal === 'BULLISH') {\n    fed_bias_score += weight;\n    fed_bias_reasons.push(`${e.event} beat forecast`);\n  }\n\n  if (e.usd_signal === 'BEARISH') {\n    fed_bias_score -= weight;\n    fed_bias_reasons.push(`${e.event} missed forecast`);\n  }\n}\n\nlet fed_bias = 'neutral';\nif (fed_bias_score >= 2) fed_bias = 'hawkish';\nif (fed_bias_score <= -2) fed_bias = 'dovish';\n\nreturn [{\n  json: {\n    latest_us_event,\n    upcoming_events: upcoming,\n    fed_bias,\n    fed_bias_score,\n    fed_bias_reasons,\n    recentSummary: completed,\n    calendar: upcoming,\n    source: 'economic_events',\n    data_quality: {\n      usd_events_found: events.length,\n      completed_us_events_found: completed.length,\n      upcoming_us_events_found: upcoming.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        432
      ],
      "id": "c0ef9680-1dc9-4f51-ab58-472ca1cfb344",
      "name": "Code | Derive USD Eco Inputs"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "economic_events",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "event_date",
              "condition": "eq",
              "keyValue": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "keyName": "currency",
              "condition": "eq",
              "keyValue": "USD"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        432
      ],
      "id": "47428d49-827d-4475-9ac4-4e9fd800a6a7",
      "name": "Supabase | Get Today USD Economic Events",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "trM35g1QCTOgQp4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        96
      ],
      "id": "8d06f7ea-e15d-47c8-8da8-0d82854315e8",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request | US 2Y Treasury Yield - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | US 10Y Treasury Yield - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | US 10Y Treasury Yield - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | TIPS 10Y Real Yield - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | TIPS 10Y Real Yield - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | Germany 2Y Yield",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Germany 10Y Proxy - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | UK 10Y Proxy - FRED api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | UK 10Y Proxy - FRED api": {
      "main": [
        [
          {
            "node": "HTTP Request | Japan 10Y Proxy - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | VIX - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | DXY - FRED Dollar Index - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | DXY - FRED Dollar Index - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | Gold - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Gold - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | BTC - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | BTC - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | WTI Oil - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | USD/JPY - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | GBP/USD - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | GBP/USD - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | USD/CAD - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | USD/CAD - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | AUD/USD - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | AUD/USD - Coinbase": {
      "main": [
        [
          {
            "node": "HTTP Request | EURUSD - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | WTI Oil - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | Brent Oil - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Brent Oil - FRED Api": {
      "main": [
        [
          {
            "node": "HTTP Request | USD/JPY - Coinbase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | EURUSD - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | NQ - Alpha Vantage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Japan 10Y Proxy - FRED API": {
      "main": [
        [
          {
            "node": "HTTP Request | VIX - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | NQ - Alpha Vantage": {
      "main": [
        [
          {
            "node": "Supabase | Get Previous Market Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Market Snapshot": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Germany 2Y Yield": {
      "main": [
        [
          {
            "node": "HTTP Request | Germany 10Y Proxy - FRED Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase | Get Previous Market Snapshots": {
      "main": [
        [
          {
            "node": "Supabase | Get Today USD Economic Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Eco Calendar Recent - Finnhub": {
      "main": [
        [
          {
            "node": "HTTP Request | Eco Calendar Upcoming - Finnhub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Eco Calendar Upcoming - Finnhub": {
      "main": [
        []
      ]
    },
    "Code | Process Eco Data": {
      "main": [
        []
      ]
    },
    "Code | Derive Fed Bias": {
      "main": [
        []
      ]
    },
    "Code | Derive USD Eco Inputs": {
      "main": [
        [
          {
            "node": "Normalise Market Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase | Get Today USD Economic Events": {
      "main": [
        [
          {
            "node": "Code | Derive USD Eco Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request | US 2Y Treasury Yield - FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "364eddba-d1d0-4a81-b64c-cff260bd1c82",
  "activeVersionId": null,
  "versionCounter": 137,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-06T16:22:34.556Z",
      "createdAt": "2026-06-06T16:22:34.556Z",
      "role": "workflow:owner",
      "workflowId": "P1E4ZWtbDetYz1P5",
      "projectId": "ISQG9XU7TGTT6Fcu",
      "project": {
        "updatedAt": "2026-04-29T19:10:21.640Z",
        "createdAt": "2026-04-29T19:10:11.212Z",
        "id": "ISQG9XU7TGTT6Fcu",
        "name": "Daniel Silver <a17@live.co.uk>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "eb4fba3e-5170-481b-abc5-ce65776c1113"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
